# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
*.tfvars

# Python
venv/
__pycache__/
*.pyc

# Secrets
.env
.ENV

# Runtime Data
storage/*.json

# Lambda Build Files
lambda_package/
terraform/*.zip